* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: rgb(150, 0, 150);;
  font-family: monospace;
  color: rgb(250, 0, 50);
}
div {
  display: block;
  margin: 0.5em;
  width: 50%;
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}
#searcharea {
  align-items: flex-start;
}
#update {
  align-items: flex-end;
}
label {
  font-size: 2em;
  color: rgb(250, 0, 50);
  text-transform: uppercase;
}
input, button {
  padding: 0.5em;
  color: #d8d8d8;
  background-color: #fff;
  border-radius: 25px;
}
